<h2>Create a New User</h2>
  <% if flash[:success] %>
    <p><%= flash[:success] %></p>
  <% end %>

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>

<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="Email">Email</label>
  <input type="text" name="register[email]">
  <label for="Name">Name</label>
  <input type="text" name="register[name]">
  <label for="Password">Password</label>
  <input type="password" name="register[password]">
  <label for="Password Confirmation">Password Confirmation</label>
  <input type="password" name="register[password_confirmation]">
  <input type="submit" value="Join">
</form>
